In [28]:
import sqlite3 
import pandas as pd

conn = sqlite3.connect("superstore.db")
df = pd.read_csv("Superstore.csv", encoding="latin1")
df["Order Date"] = pd.to_datetime(df["Order Date"]).dt.strftime("%Y-%m-%d")

In [29]:
df.columns = (
    df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("-", "_")
)

In [30]:
cur = conn.cursor()

In [31]:
cur.execute(""" 
CREATE TABLE customer(
    customer_id TEXT PRIMARY KEY,
    customer_name TEXT
);
""")
customers = df[["customer_id", "customer_name"]].drop_duplicates()
customers.to_sql("customer", conn, if_exists="replace", index=False)

793

In [32]:
cur.execute("""
CREATE TABLE IF NOT EXISTS orders (
    order_id TEXT PRIMARY KEY,
    customer_id TEXT NOT NULL,
    order_date TEXT,
    ship_mode TEXT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);
""")
orders = df[["order_id", "customer_id","order_date", "ship_mode", ]].drop_duplicates()
orders.to_sql("orders", conn, if_exists="replace", index=False)

5009

In [33]:
cur.execute("""
CREATE TABLE IF NOT EXISTS order_items (
    order_id TEXT NOT NULL,
    product_id TEXT NOT NULL,
    product_name TEXT,
    category TEXT,
    sub_category TEXT,
    sales REAL,
    profit REAL,
    quantity INTEGER,
    discount REAL,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
);
""")
orders_items = df[["order_id", "product_id", "product_name", "category", "sub_category", "sales", "profit", "quantity", "discount"]].drop_duplicates()
orders_items.to_sql("order_items", conn, if_exists="replace", index=False)

9993

In [34]:
cur.execute("""
CREATE TABLE IF NOT EXISTS products (
    product_id TEXT PRIMARY KEY,
    product_name TEXT,
    category TEXT,
    sub_category TEXT
);
""")
products = df[["product_id", "product_name", "category", "sub_category"]].drop_duplicates()
products.to_sql("products", conn, if_exists="replace", index=False)

1894